# 시리즈(Series) 타입 실습----------------------------------------------

- Pandas의 1종류(1차원 배열/ 세로 벡터) 데이터를 저장하는 데이터 타입 (Type)

- 생성 : Series 객체 생성

In [91]:
# 모듈 로딩 ------------------------------------------------------------------------------------
import pandas as pd

# Series 객체 생성
sr=pd.Series([1,2,3,4])

In [92]:
# 생성된 Series 객체 데이터 확인하기
sr

0    1
1    2
2    3
3    4
dtype: int64

In [93]:
# Series 객체의 속성 Attribute 확인 => 객체변수명.속성명
# index 속성
sr.index

RangeIndex(start=0, stop=4, step=1)

In [94]:
# 값 속성
sr.values

array([1, 2, 3, 4], dtype=int64)

In [95]:
# 차원(dimention) 속성
sr.ndim

1

In [96]:
# 형(shape) 속성
sr.shape

(4,)

In [97]:
# 실제 사용 메모리 byte, 데이터 개수
sr.nbytes, sr.size

(32, 4)

In [98]:
# 여러 타입의 데이터로 Series 객체 생성
sr2=pd.Series([1,4,'A',4.5])
sr2

0      1
1      4
2      A
3    4.5
dtype: object

In [99]:
# Series 객체 속성 읽기
print(f'index    => {sr2.index}')
print(f'values   => {sr2.values} | values type => {type(sr2.values)}')
print(f'array    => {sr2.array}')
print(sr2)

index    => RangeIndex(start=0, stop=4, step=1)
values   => [1 4 'A' 4.5] | values type => <class 'numpy.ndarray'>
array    => <PandasArray>
[1, 4, 'A', 4.5]
Length: 4, dtype: object
0      1
1      4
2      A
3    4.5
dtype: object

In [100]:
# Dict 데이터로 Series 객체 생성
sr3=pd.Series({'name':'HONG', 'age':12, 'loc':'Daegu'})
sr3

name     HONG
age        12
loc     Daegu
dtype: object

In [101]:
# Series 객체 생성
sr=pd.Series(['a','b','c'], index=['하나','둘','셋'])
sr

하나    a
둘     b
셋     c
dtype: object

In [102]:
sr2=pd.Series(['a','b','c'])
sr2

0    a
1    b
2    c
dtype: object

In [103]:
# 인덱스 새로운 값으로 설정 => 객체변수명.속성명= 새로운 값
sr2.index=[11,22,33]
sr2

11    a
22    b
33    c
dtype: object

# 시리즈(Series) 객체의 원소/요소 다루기

- 방법
    - 시리즈 객체[인덱스 번호]
    - 시리즈 객체[인덱스 라벨]

In [104]:
# 1번 원소 읽기
sr2.index    # 현재 sr2의 인덱스 확인

Int64Index([11, 22, 33], dtype='int64')

In [105]:
sr2[22]

'b'

In [106]:
# 문자형 인덱스로 새롭게 설정
sr2.index=['one','two','three']
sr2.index

Index(['one', 'two', 'three'], dtype='object')

In [107]:
sr2['two'], sr2[1], sr2['three'], sr2[2]

('b', 'b', 'c', 'c')

In [108]:
sr3=pd.Series({'name':'Hong','age':12})
sr3

name    Hong
age       12
dtype: object

In [109]:
sr3.index

Index(['name', 'age'], dtype='object')

In [110]:
sr3['age'],sr3['name']

(12, 'Hong')

In [111]:
sr3[0], sr3[1]

('Hong', 12)

In [112]:
sr4=pd.Series(('2022-06-30','Pandas',True,4.55,'No Work','김도영'))
sr4

0    2022-06-30
1        Pandas
2          True
3          4.55
4       No Work
5           김도영
dtype: object

In [113]:
sr4.index=['날짜','과목','불린','실수','희망사항','이름']
sr4

날짜      2022-06-30
과목          Pandas
불린            True
실수            4.55
희망사항       No Work
이름             김도영
dtype: object

In [114]:
# (1) 0번요소, 3번요소, 4번요소 읽어서 출력
print(sr4[0], sr4[3], sr4[4])
print(sr4['날짜'], sr4['실수'], sr4['희망사항'])

print(type(sr4[0]), type(sr4[3]), type(sr4[4]))
print(sr4[ [0,3,4] ], type(sr4[ [0,3,4] ]))

2022-06-30 4.55 No Work
2022-06-30 4.55 No Work
<class 'str'> <class 'float'> <class 'str'>
날짜      2022-06-30
실수            4.55
희망사항       No Work
dtype: object <class 'pandas.core.series.Series'>

In [115]:
# (2) 1번요소부터 끝까지 요소값 출력
print(sr4[1:])
print(sr4['과목':])

과목       Pandas
불린         True
실수         4.55
희망사항    No Work
이름          김도영
dtype: object
과목       Pandas
불린         True
실수         4.55
희망사항    No Work
이름          김도영
dtype: object

In [116]:
# (2) 1번요소부터 3번요소까지 요소값 출력
print(sr4[1:4])
print(sr4['과목':'희망사항'])    # 인덱스라벨은 끝원소로 포함

과목    Pandas
불린      True
실수      4.55
dtype: object
과목       Pandas
불린         True
실수         4.55
희망사항    No Work
dtype: object