In [274]:
# 모듈 로딩
import pandas as pd

In [275]:
# 파일 로딩
df= pd.read_excel('석유소비점유율.xlsx')  # 석탄소비점유율.xlsx로 바꾸기
df.info()

C:\ProgramData\Anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4208 entries, 0 to 4207
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   시점      26 non-null     float64
 1   국가별     2236 non-null   object
 2   항목      4208 non-null   object
 3   데이터     3896 non-null   float64
dtypes: float64(2), object(2)
memory usage: 131.6+ KB

In [276]:
# 데이터 컬럼 결측치 개수 파악
df['데이터'].isnull().sum()

312

In [277]:
# 데이터 컬럼 결측치 0으로 채우기
df['데이터'].fillna(0, inplace = True)

In [278]:
# 상위 값으로 채우기
df.fillna(method = 'ffill', inplace = True)

In [279]:
# 국가별 컬럼 값 확인
df['국가별'].unique()

array(['세계', '아시아', '\u3000\u3000\u3000대한민국', '\u3000\u3000\u3000아제르바이잔',
       '\u3000\u3000\u3000방글라데시', '\u3000\u3000\u3000중국',
       '\u3000\u3000\u3000키프로스', '\u3000\u3000\u3000홍콩',
       '\u3000\u3000\u3000인도', '\u3000\u3000\u3000인도네시아',
       '\u3000\u3000\u3000이란', '\u3000\u3000\u3000이라크',
       '\u3000\u3000\u3000이스라엘', '\u3000\u3000\u3000일본',
       '\u3000\u3000\u3000카자흐스탄', '\u3000\u3000\u3000쿠웨이트',
       '\u3000\u3000\u3000말레이시아', '\u3000\u3000\u3000오만',
       '\u3000\u3000\u3000파키스탄', '\u3000\u3000\u3000필리핀',
       '\u3000\u3000\u3000카타르', '\u3000\u3000\u3000사우디아라비아',
       '\u3000\u3000\u3000싱가포르', '\u3000\u3000\u3000스리랑카',
       '\u3000\u3000\u3000대만', '\u3000\u3000\u3000태국',
       '\u3000\u3000\u3000튀르키예', '\u3000\u3000\u3000투르크메니스탄',
       '\u3000\u3000\u3000아랍에미리트', '\u3000\u3000\u3000우즈베키스탄',
       '\u3000\u3000\u3000베트남', '북아메리카', '\u3000\u3000\u3000캐나다',
       '\u3000\u3000\u3000멕시코', '\u3000\u3000\u3000미국', '남아메리카',
       '\u3000\u3000\u3000아르헨티나', '\u3000\u3000\u3000브라질',
       '\u3000\u3000\u3000칠레', '\u3000\u3000\u3000콜롬비아',
       '\u3000\u3000\u3000에콰도르', '\u3000\u3000\u3000페루',
       '\u3000\u3000\u3000트리니다드토바고', '\u3000\u3000\u3000베네수엘라', '유럽',
       '\u3000\u3000\u3000오스트리아', '\u3000\u3000\u3000벨라루스',
       '\u3000\u3000\u3000벨기에', '\u3000\u3000\u3000불가리아',
       '\u3000\u3000\u3000크로아티아', '\u3000\u3000\u3000체코',
       '\u3000\u3000\u3000덴마크', '\u3000\u3000\u3000에스토니아',
       '\u3000\u3000\u3000핀란드', '\u3000\u3000\u3000프랑스',
       '\u3000\u3000\u3000독일', '\u3000\u3000\u3000그리스',
       '\u3000\u3000\u3000헝가리', '\u3000\u3000\u3000아이슬란드',
       '\u3000\u3000\u3000아일랜드', '\u3000\u3000\u3000이탈리아',
       '\u3000\u3000\u3000라트비아', '\u3000\u3000\u3000리투아니아',
       '\u3000\u3000\u3000룩셈부르크', '\u3000\u3000\u3000북마케도니아',
       '\u3000\u3000\u3000네덜란드', '\u3000\u3000\u3000노르웨이',
       '\u3000\u3000\u3000폴란드', '\u3000\u3000\u3000포르투갈',
       '\u3000\u3000\u3000루마니아', '\u3000\u3000\u3000러시아',
       '\u3000\u3000\u3000슬로바키아', '\u3000\u3000\u3000슬로베니아',
       '\u3000\u3000\u3000스페인', '\u3000\u3000\u3000스웨덴',
       '\u3000\u3000\u3000스위스', '\u3000\u3000\u3000우크라이나',
       '\u3000\u3000\u3000영국', '아프리카', '\u3000\u3000\u3000알제리',
       '\u3000\u3000\u3000이집트', '\u3000\u3000\u3000모로코',
       '\u3000\u3000\u3000남아프리카공화국', '오세아니아', '\u3000\u3000\u3000오스트레일리아',
       '\u3000\u3000\u3000뉴질랜드'], dtype=object)

In [280]:
# 국가별 컬럼 칸 제거
country = list()
for i in df['국가별']:
    country.append(i.strip())
    
df['국가별'] = country

df['국가별'].unique()

array(['세계', '아시아', '대한민국', '아제르바이잔', '방글라데시', '중국', '키프로스', '홍콩', '인도',
       '인도네시아', '이란', '이라크', '이스라엘', '일본', '카자흐스탄', '쿠웨이트', '말레이시아', '오만',
       '파키스탄', '필리핀', '카타르', '사우디아라비아', '싱가포르', '스리랑카', '대만', '태국',
       '튀르키예', '투르크메니스탄', '아랍에미리트', '우즈베키스탄', '베트남', '북아메리카', '캐나다',
       '멕시코', '미국', '남아메리카', '아르헨티나', '브라질', '칠레', '콜롬비아', '에콰도르', '페루',
       '트리니다드토바고', '베네수엘라', '유럽', '오스트리아', '벨라루스', '벨기에', '불가리아', '크로아티아',
       '체코', '덴마크', '에스토니아', '핀란드', '프랑스', '독일', '그리스', '헝가리', '아이슬란드',
       '아일랜드', '이탈리아', '라트비아', '리투아니아', '룩셈부르크', '북마케도니아', '네덜란드', '노르웨이',
       '폴란드', '포르투갈', '루마니아', '러시아', '슬로바키아', '슬로베니아', '스페인', '스웨덴',
       '스위스', '우크라이나', '영국', '아프리카', '알제리', '이집트', '모로코', '남아프리카공화국',
       '오세아니아', '오스트레일리아', '뉴질랜드'], dtype=object)

In [281]:
# 대한민국 중국만 추출
kor = df['국가별'] == '대한민국'
chi = df['국가별'] == '중국'

DF = df[kor | chi]

In [282]:
# 인덱스 제설정
DF.index = range(0, DF.shape[0])
DF

         시점   국가별           항목    데이터
0    1995.0  대한민국  소비 (100만 톤)   94.8
1    1995.0  대한민국    - 점유율 (%)    2.9
2    1995.0    중국  소비 (100만 톤)  160.2
3    1995.0    중국    - 점유율 (%)    4.9
4    1996.0  대한민국  소비 (100만 톤)  101.4
..      ...   ...          ...    ...
99   2019.0    중국    - 점유율 (%)   14.6
100  2020.0  대한민국  소비 (100만 톤)  110.6
101  2020.0  대한민국    - 점유율 (%)    2.8
102  2020.0    중국  소비 (100만 톤)  669.2
103  2020.0    중국    - 점유율 (%)   16.7

[104 rows x 4 columns]

In [283]:
DF['항목'].unique()

array(['소비 (100만 톤)', '- 점유율 (%)'], dtype=object)

In [284]:
# 소비와 점유율로 따로 담기
a = list(DF['데이터'])[0::2] # 소비
b = list(DF['데이터'])[1::2] # 점유율

In [285]:
# 원하는 형태로 만들기
DF_ = DF[DF['항목'] == '- 점유율 (%)']
DF_.drop(['항목', '데이터'], axis = 1, inplace = True)

C:\Users\User\AppData\Local\Temp\ipykernel_3216\25580471.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DF_.drop(['항목', '데이터'], axis = 1, inplace = True)

In [286]:
DF_['소비'] = a
DF_['점유율'] = b

C:\Users\User\AppData\Local\Temp\ipykernel_3216\1771470971.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DF_['소비'] = a
C:\Users\User\AppData\Local\Temp\ipykernel_3216\1771470971.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DF_['점유율'] = b

In [287]:
DF_.columns = ['날짜', '국가', '소비', '점유율']

In [288]:
DF_.index = range(DF_.shape[0])

In [289]:
date=pd.date_range('1995', '2020', freq = 'YS')

month = []
for i in date:
    month.append(i.to_period('Y'))
    month.append(i.to_period('Y'))
    
DF_['날짜'] = month

C:\Users\User\AppData\Local\Temp\ipykernel_3216\150923830.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DF_['날짜'] = month

In [290]:
DF_

      날짜    국가     소비   점유율
0   1995  대한민국   94.8   2.9
1   1995    중국  160.2   4.9
2   1996  대한민국  101.4   3.0
3   1996    중국  175.7   5.2
4   1997  대한민국  111.4   3.2
5   1997    중국  192.2   5.6
6   1998  대한민국   89.6   2.7
7   1998    중국  197.1   5.7
8   1999  대한민국   96.1   2.8
9   1999    중국  209.3   5.9
10  2000  대한민국   98.4   2.9
11  2000    중국  224.2   6.3
12  2001  대한민국   98.5   2.9
13  2001    중국  229.1   6.3
14  2002  대한민국  100.3   2.9
15  2002    중국  247.9   6.8
16  2003  대한민국  101.2   2.9
17  2003    중국  276.3   7.3
18  2004  대한민국  100.3   2.7
19  2004    중국  322.6   8.2
20  2005  대한민국  100.6   2.7
21  2005    중국  327.9   8.4
22  2006  대한민국  100.6   2.6
23  2006    중국  351.8   9.0
24  2007  대한민국  103.1   2.7
25  2007    중국  369.2   9.2
26  2008  대한민국   98.0   2.6
27  2008    중국  376.3   9.4
28  2009  대한민국   99.3   2.6
29  2009    중국  391.0  10.0
30  2010  대한민국  101.6   2.6
31  2010    중국  446.3  10.9
32  2011  대한민국  102.2   2.6
33  2011    중국  462.4  11.4
34  2012  대한민국  105.2   2.6
35  2012    중국  484.2  11.8
36  2013  대한민국  105.0   2.6
37  2013    중국  505.0  12.1
38  2014  대한민국  104.4   2.6
39  2014    중국  524.9  12.4
40  2015  대한민국  109.2   2.6
41  2015    중국  568.0  12.9
42  2016  대한민국  117.9   2.8
43  2016    중국  586.7  13.1
44  2017  대한민국  118.9   2.7
45  2017    중국  614.2  13.3
46  2018  대한민국  117.8   2.7
47  2018    중국  633.7  13.9
48  2019  대한민국  116.4   2.7
49  2019    중국  654.3  14.6
50  2020  대한민국  110.6   2.8
51  2020    중국  669.2  16.7

In [291]:
DF_.to_csv('석유소비점유율.csv')  # 석탄소비점유율.csv로 바꾸기