# auto_mpg 데이터 전처리 ----------------------------------------------------

- 1. 단위 변환 => 컬럼 추가
- 2. 자료형 검사 및 변환
- 3. origin 컬럼에 대한 라벨 => (1-미국, 2-유럽, 3-일본) => 컬럼 추가

In [579]:
# 모듈 로딩 ---------------------------------------------------------
import pandas as pd
import numpy as np

# 파일 관련 변수들 ---------------------------------------
DIR='../Data/'
FILE=DIR+'auto_mpg.csv'

FILE

'../Data/auto_mpg.csv'

## (1) 데이터 로딩 ------------------------------------------------------

In [580]:
# CSV FILE => DataFrame 로딩
mpgDF=pd.read_csv(FILE)

# (2) Data 정보 확인
# 요약 정보 확인
mpgDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   car name      398 non-null    object
dtypes: float64(3), int64(4), object(2)
memory usage: 28.1+ KB

## (2) 데이터 확인 ----------------------------------

In [581]:
# 일부 데이터 확인
mpgDF.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [582]:
mpgDF

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

## (3) 데이터 전처리 ------------------------------------------------------


#### (3-1) 데이터 정제 => 결측치, 중복 처리

In [583]:
# isnull() => sum()
mpgDF.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model year      0
origin          0
car name        0
dtype: int64

In [584]:
# 전체 column에 대한 unique() 고유값
for col in mpgDF.columns:
    print(f'{col}--------------------------\n{mpgDF[col].unique()}\n')

mpg--------------------------
[18.  15.  16.  17.  14.  24.  22.  21.  27.  26.  25.  10.  11.   9.
 28.  19.  12.  13.  23.  30.  31.  35.  20.  29.  32.  33.  17.5 15.5
 14.5 22.5 24.5 18.5 29.5 26.5 16.5 31.5 36.  25.5 33.5 20.5 30.5 21.5
 43.1 36.1 32.8 39.4 19.9 19.4 20.2 19.2 25.1 20.6 20.8 18.6 18.1 17.7
 27.5 27.2 30.9 21.1 23.2 23.8 23.9 20.3 21.6 16.2 19.8 22.3 17.6 18.2
 16.9 31.9 34.1 35.7 27.4 25.4 34.2 34.5 31.8 37.3 28.4 28.8 26.8 41.5
 38.1 32.1 37.2 26.4 24.3 19.1 34.3 29.8 31.3 37.  32.2 46.6 27.9 40.8
 44.3 43.4 36.4 44.6 40.9 33.8 32.7 23.7 23.6 32.4 26.6 25.8 23.5 39.1
 39.  35.1 32.3 37.7 34.7 34.4 29.9 33.7 32.9 31.6 28.1 30.7 24.2 22.4
 34.  38.  44. ]

cylinders--------------------------
[8 4 6 3 5]

displacement--------------------------
[307.  350.  318.  304.  302.  429.  454.  440.  455.  390.  383.  340.
 400.  113.  198.  199.  200.   97.  110.  107.  104.  121.  360.  140.
  98.  232.  225.  250.  351.  258.  122.  116.   79.   88.   71.   72.
  91.   97.5  70.  120.   96.  108.  155.   68.  114.  156.   76.   83.
  90.  231.  262.  134.  119.  171.  115.  101.  305.   85.  130.  168.
 111.  260.  151.  146.   80.   78.  105.  131.  163.   89.  267.   86.
 183.  141.  173.  135.   81.  100.  145.  112.  181.  144. ]

horsepower--------------------------
['130' '165' '150' '140' '198' '220' '215' '225' '190' '170' '160' '95'
 '97' '85' '88' '46' '87' '90' '113' '200' '210' '193' '?' '100' '105'
 '175' '153' '180' '110' '72' '86' '70' '76' '65' '69' '60' '80' '54'
 '208' '155' '112' '92' '145' '137' '158' '167' '94' '107' '230' '49' '75'
 '91' '122' '67' '83' '78' '52' '61' '93' '148' '129' '96' '71' '98' '115'
 '53' '81' '79' '120' '152' '102' '108' '68' '58' '149' '89' '63' '48'
 '66' '139' '103' '125' '133' '138' '135' '142' '77' '62' '132' '84' '64'
 '74' '116' '82']

weight--------------------------
[3504 3693 3436 3433 3449 4341 4354 4312 4425 3850 3563 3609 3761 3086
 2372 2833 2774 2587 2130 1835 2672 2430 2375 2234 2648 4615 4376 4382
 4732 2264 2228 2046 2634 3439 3329 3302 3288 4209 4464 4154 4096 4955
 4746 5140 2962 2408 3282 3139 2220 2123 2074 2065 1773 1613 1834 1955
 2278 2126 2254 2226 4274 4385 4135 4129 3672 4633 4502 4456 4422 2330
 3892 4098 4294 4077 2933 2511 2979 2189 2395 2288 2506 2164 2100 4100
 3988 4042 3777 4952 4363 4237 4735 4951 3821 3121 3278 2945 3021 2904
 1950 4997 4906 4654 4499 2789 2279 2401 2379 2124 2310 2472 2265 4082
 4278 1867 2158 2582 2868 3399 2660 2807 3664 3102 2875 2901 3336 2451
 1836 2542 3781 3632 3613 4141 4699 4457 4638 4257 2219 1963 2300 1649
 2003 2125 2108 2246 2489 2391 2000 3264 3459 3432 3158 4668 4440 4498
 4657 3907 3897 3730 3785 3039 3221 3169 2171 2639 2914 2592 2702 2223
 2545 2984 1937 3211 2694 2957 2671 1795 2464 2572 2255 2202 4215 4190
 3962 3233 3353 3012 3085 2035 3651 3574 3645 3193 1825 1990 2155 2565
 3150 3940 3270 2930 3820 4380 4055 3870 3755 2045 1945 3880 4060 4140
 4295 3520 3425 3630 3525 4220 4165 4325 4335 1940 2740 2755 2051 2075
 1985 2190 2815 2600 2720 1800 2070 3365 3735 3570 3535 3155 2965 3430
 3210 3380 3070 3620 3410 3445 3205 4080 2560 2230 2515 2745 2855 2405
 2830 3140 2795 2135 3245 2990 2890 3265 3360 3840 3725 3955 3830 4360
 4054 3605 1925 1975 1915 2670 3530 3900 3190 3420 2200 2150 2020 2595
 2700 2556 2144 1968 2120 2019 2678 2870 3003 3381 2188 2711 2434 2110
 2800 2085 2335 2950 3250 1850 2145 1845 2910 2420 2500 2905 2290 2490
 2635 2620 2725 2385 1755 1875 1760 2050 2215 2380 2320 2210 2350 2615
 3230 3160 2900 3415 3060 3465 2605 2640 2575 2525 2735 2865 3035 1980
 2025 1970 2160 2205 2245 1965 1995 3015 2585 2835 2665 2370 2790 2295
 2625]

acceleration--------------------------
[12.  11.5 11.  10.5 10.   9.   8.5  8.   9.5 15.  15.5 16.  14.5 20.5
 17.5 12.5 14.  13.5 18.5 19.  13.  19.5 18.  17.  23.5 16.5 21.  16.9
 14.9 17.7 15.3 13.9 12.8 15.4 17.6 22.2 22.1 14.2 17.4 16.2 17.8 12.2
 16.4 13.6 15.7 13.2 21.9 16.7 12.1 14.8 18.6 16.8 13.7 11.1 11.4 18.2
 15.8 15.9 14.1 21.5 14.4 19.4 19.2 17.2 18.7 15.1 13.4 11.2 14.7 16.6
 17.3 15.2 14.3 20.1 24.8 11.3 12.9 18.8 18.1 17.9 21.7 23.7 19.9 21.8
 13.8 12.6 16.1 20.7 18.3 20.4 19.6 17.1 15.6 24.6 11.6]

model year--------------------------
[70 71 72 73 74 75 76 77 78 79 80 81 82]

origin--------------------------
[1 3 2]

car name--------------------------
['chevrolet chevelle malibu' 'buick skylark 320' 'plymouth satellite'
 'amc rebel sst' 'ford torino' 'ford galaxie 500' 'chevrolet impala'
 'plymouth fury iii' 'pontiac catalina' 'amc ambassador dpl'
 'dodge challenger se' "plymouth 'cuda 340" 'chevrolet monte carlo'
 'buick estate wagon (sw)' 'toyota corona mark ii' 'plymouth duster'
 'amc hornet' 'ford maverick' 'datsun pl510'
 'volkswagen 1131 deluxe sedan' 'peugeot 504' 'audi 100 ls' 'saab 99e'
 'bmw 2002' 'amc gremlin' 'ford f250' 'chevy c20' 'dodge d200' 'hi 1200d'
 'chevrolet vega 2300' 'toyota corona' 'ford pinto'
 'plymouth satellite custom' 'ford torino 500' 'amc matador'
 'pontiac catalina brougham' 'dodge monaco (sw)'
 'ford country squire (sw)' 'pontiac safari (sw)'
 'amc hornet sportabout (sw)' 'chevrolet vega (sw)' 'pontiac firebird'
 'ford mustang' 'mercury capri 2000' 'opel 1900' 'peugeot 304' 'fiat 124b'
 'toyota corolla 1200' 'datsun 1200' 'volkswagen model 111'
 'plymouth cricket' 'toyota corona hardtop' 'dodge colt hardtop'
 'volkswagen type 3' 'chevrolet vega' 'ford pinto runabout'
 'amc ambassador sst' 'mercury marquis' 'buick lesabre custom'
 'oldsmobile delta 88 royale' 'chrysler newport royal' 'mazda rx2 coupe'
 'amc matador (sw)' 'chevrolet chevelle concours (sw)'
 'ford gran torino (sw)' 'plymouth satellite custom (sw)'
 'volvo 145e (sw)' 'volkswagen 411 (sw)' 'peugeot 504 (sw)'
 'renault 12 (sw)' 'ford pinto (sw)' 'datsun 510 (sw)'
 'toyouta corona mark ii (sw)' 'dodge colt (sw)'
 'toyota corolla 1600 (sw)' 'buick century 350' 'chevrolet malibu'
 'ford gran torino' 'dodge coronet custom' 'mercury marquis brougham'
 'chevrolet caprice classic' 'ford ltd' 'plymouth fury gran sedan'
 'chrysler new yorker brougham' 'buick electra 225 custom'
 'amc ambassador brougham' 'plymouth valiant' 'chevrolet nova custom'
 'volkswagen super beetle' 'ford country' 'plymouth custom suburb'
 'oldsmobile vista cruiser' 'toyota carina' 'datsun 610' 'maxda rx3'
 'mercury capri v6' 'fiat 124 sport coupe' 'chevrolet monte carlo s'
 'pontiac grand prix' 'fiat 128' 'opel manta' 'audi 100ls' 'volvo 144ea'
 'dodge dart custom' 'saab 99le' 'toyota mark ii' 'oldsmobile omega'
 'chevrolet nova' 'datsun b210' 'chevrolet chevelle malibu classic'
 'plymouth satellite sebring' 'buick century luxus (sw)'
 'dodge coronet custom (sw)' 'audi fox' 'volkswagen dasher' 'datsun 710'
 'dodge colt' 'fiat 124 tc' 'honda civic' 'subaru' 'fiat x1.9'
 'plymouth valiant custom' 'mercury monarch' 'chevrolet bel air'
 'plymouth grand fury' 'buick century' 'chevroelt chevelle malibu'
 'plymouth fury' 'buick skyhawk' 'chevrolet monza 2+2' 'ford mustang ii'
 'toyota corolla' 'pontiac astro' 'volkswagen rabbit' 'amc pacer'
 'volvo 244dl' 'honda civic cvcc' 'fiat 131' 'capri ii' 'renault 12tl'
 'dodge coronet brougham' 'chevrolet chevette' 'chevrolet woody'
 'vw rabbit' 'dodge aspen se' 'ford granada ghia' 'pontiac ventura sj'
 'amc pacer d/l' 'datsun b-210' 'volvo 245' 'plymouth volare premier v8'
 'mercedes-benz 280s' 'cadillac seville' 'chevy c10' 'ford f108'
 'dodge d100' 'honda accord cvcc' 'buick opel isuzu deluxe'
 'renault 5 gtl' 'plymouth arrow gs' 'datsun f-10 hatchback'
 'oldsmobile cutlass supreme' 'dodge monaco brougham'
 'mercury cougar brougham' 'chevrolet concours' 'buick skylark'
 'plymouth volare custom' 'ford granada' 'pontiac grand prix lj'
 'chevrolet monte carlo landau' 'chrysler cordoba' 'ford thunderbird'
 'volkswagen rabbit custom' 'pontiac sunbird coupe'
 'toyota corolla liftback' 'ford mustang ii 2+2' 'dodge colt m/m'
 'subaru dl' 'datsun 810' 'bmw 320i' 'mazda rx-4'
 'volkswagen rabbit custom diesel' 'ford fiesta' 'mazda glc deluxe'
 'datsun b210 gx' 'oldsmobile cutlass salon brougham' 'dodge diplomat'
 'mercury monarch ghia' 'pontiac phoenix lj' 'ford fairmont (auto)'
 'ford fairmont (man)' 'plymouth volare' 'amc concord'
 'buick century special' 'mercury zephyr' 'dodge aspen' 'amc concord d/l'
 'buick regal sport coupe (turbo)' 'ford futura' 'dodge magnum xe'
 'datsun 510' 'dodge omni' 'toyota celica gt liftback' 'plymouth sapporo'
 'oldsmobile starfire sx' 'datsun 200-sx' 'audi 5000' 'volvo 264gl'
 'saab 99gle' 'peugeot 604sl' 'volkswagen scirocco' 'honda accord lx'
 'pontiac lemans v6' 'mercury zephyr 6' 'ford fairmont 4'
 'amc concord dl 6' 'dodge aspen 6' 'ford ltd landau'
 'mercury grand marquis' 'dodge st. regis' 'chevrolet malibu classic (sw)'
 'chrysler lebaron town @ country (sw)' 'vw rabbit custom'
 'maxda glc deluxe' 'dodge colt hatchback custom' 'amc spirit dl'
 'mercedes benz 300d' 'cadillac eldorado' 'plymouth horizon'
 'plymouth horizon tc3' 'datsun 210' 'fiat strada custom'
 'buick skylark limited' 'chevrolet citation' 'oldsmobile omega brougham'
 'pontiac phoenix' 'toyota corolla tercel' 'datsun 310' 'ford fairmont'
 'audi 4000' 'toyota corona liftback' 'mazda 626' 'datsun 510 hatchback'
 'mazda glc' 'vw rabbit c (diesel)' 'vw dasher (diesel)'
 'audi 5000s (diesel)' 'mercedes-benz 240d' 'honda civic 1500 gl'
 'renault lecar deluxe' 'vokswagen rabbit' 'datsun 280-zx' 'mazda rx-7 gs'
 'triumph tr7 coupe' 'ford mustang cobra' 'honda accord'
 'plymouth reliant' 'dodge aries wagon (sw)' 'toyota starlet'
 'plymouth champ' 'honda civic 1300' 'datsun 210 mpg' 'toyota tercel'
 'mazda glc 4' 'plymouth horizon 4' 'ford escort 4w' 'ford escort 2h'
 'volkswagen jetta' 'renault 18i' 'honda prelude' 'datsun 200sx'
 'peugeot 505s turbo diesel' 'volvo diesel' 'toyota cressida'
 'datsun 810 maxima' 'oldsmobile cutlass ls' 'ford granada gl'
 'chrysler lebaron salon' 'chevrolet cavalier' 'chevrolet cavalier wagon'
 'chevrolet cavalier 2-door' 'pontiac j2000 se hatchback' 'dodge aries se'
 'ford fairmont futura' 'amc concord dl' 'volkswagen rabbit l'
 'mazda glc custom l' 'mazda glc custom' 'plymouth horizon miser'
 'mercury lynx l' 'nissan stanza xe' 'honda civic (auto)' 'datsun 310 gx'
 'buick century limited' 'oldsmobile cutlass ciera (diesel)'
 'chrysler lebaron medallion' 'ford granada l' 'toyota celica gt'
 'dodge charger 2.2' 'chevrolet camaro' 'ford mustang gl' 'vw pickup'
 'dodge rampage' 'ford ranger' 'chevy s-10']

In [585]:
# horsepower 컬럼에서 타입 체크
mpgDF['horsepower'].dtype

dtype('O')

In [586]:
# horsepower 컬럼에서 다른 데이터와 다른 문자 '?' 처리
mpgDF['horsepower'].replace('?', np.nan, inplace=True)    # '' <- 이것은 공백아님
mpgDF.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      6
weight          0
acceleration    0
model year      0
origin          0
car name        0
dtype: int64

In [587]:
# horsepower 컬럼에서 Missing Value 처리
# Missing Value 대체값 => 컬럼 평균 => mean()
#mpgDF['horsepower'].fillna(mpgDF['horsepower'].mean())

# Missing Value 대체값 => 컬럼 평균 => mode()
# mpgDF['horsepower'].fillna(mpgDF['horsepower'].mode())

# print(type(mpgDF['horsepower'].mode()) , mpgDF['horsepower'].mode()[0])       # 최빈값 여러개 나올 수 있어서 0번 원소 값을 뺀다?

mpgDF['horsepower'].fillna(method='ffill', inplace=True)
mpgDF.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model year      0
origin          0
car name        0
dtype: int64

#### (3-1-2) 중복 체크 및 처리

In [588]:
# 체크 : duplicated()                  => True/False    : 행(row)
# 처리 : drop_duplicated()             => 파라미터 세팅
mpgDF.duplicated().sum()

0

In [589]:
# NaN 체크
mpgDF.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model year      0
origin          0
car name        0
dtype: int64

In [590]:
country=[]
for i in mpgDF.index:
    if mpgDF.iloc[i]['origin']==1:
        country.append('미국')
    elif mpgDF.iloc[i]['origin']==2:
        country.append('유럽')
    if mpgDF.iloc[i]['origin']==3:
        country.append('일본') 

mpgDF['제조국']=country

In [591]:
# mpgDF.replace({'origin':{1:'미국',2:'유럽',3:'일본'}})

In [592]:
# NaN 체크
mpgDF.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model year      0
origin          0
car name        0
제조국             0
dtype: int64

In [593]:
# (3) 데이터 전처리
# 데이터 --- 데이터 타입 맞도록 설정
mpgDF.horsepower

0      130
1      165
2      150
3      150
4      140
      ...
393     86
394     52
395     84
396     79
397     82
Name: horsepower, Length: 398, dtype: object

In [594]:
# 타입 변경 => astype( 타입 )
# (1) 데이터의 고유값 확인
mpgDF.horsepower.unique()

array(['130', '165', '150', '140', '198', '220', '215', '225', '190',
       '170', '160', '95', '97', '85', '88', '46', '87', '90', '113',
       '200', '210', '193', '100', '105', '175', '153', '180', '110',
       '72', '86', '70', '76', '65', '69', '60', '80', '54', '208', '155',
       '112', '92', '145', '137', '158', '167', '94', '107', '230', '49',
       '75', '91', '122', '67', '83', '78', '52', '61', '93', '148',
       '129', '96', '71', '98', '115', '53', '81', '79', '120', '152',
       '102', '108', '68', '58', '149', '89', '63', '48', '66', '139',
       '103', '125', '133', '138', '135', '142', '77', '62', '132', '84',
       '64', '74', '116', '82'], dtype=object)

In [595]:
# (2) 문제가 되는 데이터를 NaN으로 변경하기 => replace(원래값, 새로운 값)
# NaN 상수 사용을 위해서 Numpy 모듈 포함
import numpy as np

mpgDF.horsepower.replace('?', np.nan, inplace=True)
mpgDF.horsepower.unique()

array(['130', '165', '150', '140', '198', '220', '215', '225', '190',
       '170', '160', '95', '97', '85', '88', '46', '87', '90', '113',
       '200', '210', '193', '100', '105', '175', '153', '180', '110',
       '72', '86', '70', '76', '65', '69', '60', '80', '54', '208', '155',
       '112', '92', '145', '137', '158', '167', '94', '107', '230', '49',
       '75', '91', '122', '67', '83', '78', '52', '61', '93', '148',
       '129', '96', '71', '98', '115', '53', '81', '79', '120', '152',
       '102', '108', '68', '58', '149', '89', '63', '48', '66', '139',
       '103', '125', '133', '138', '135', '142', '77', '62', '132', '84',
       '64', '74', '116', '82'], dtype=object)

In [596]:
# NaN 체크
mpgDF.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model year      0
origin          0
car name        0
제조국             0
dtype: int64

In [597]:
# NaN => 0으로 채우기
mpgDF.fillna(0, inplace=True)
mpgDF.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model year      0
origin          0
car name        0
제조국             0
dtype: int64

In [598]:
# horsepower 컬럼을 object => int로 타입 변경 : astype()
mpgDF.horsepower=mpgDF.horsepower.astype(int)

In [599]:
# 요약 정보 확인
mpgDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    int32
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   car name      398 non-null    object
 9   제조국           398 non-null    object
dtypes: float64(3), int32(1), int64(4), object(2)
memory usage: 29.7+ KB

#### (3-2) 데이터표준화 => 단위/ 자료형

- Km/L = mpg * 0.425

#### (3-2-1) mpg ==> kml 단위 변환값 컬럼 추가 - Km/L = mpg * 0.425

In [600]:
# DF의 제일 마지막 추가
mpgDF['Kml']=mpgDF['mpg']*0.425

# DF의 원하는 위치에 추가 => insert(정수위치번호(인덱스?), 컬럼명, 데이터)
mpgDF.insert(1, 'kml', mpgDF['mpg']*0.425)
mpgDF.columns

Index(['mpg', 'kml', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model year', 'origin', 'car name', '제조국', 'Kml'],
      dtype='object')

###### (3-2-2) origin 컬럼에 대한  origin_label 컬럼 추가 및 자료형 설정

- 1: USA, 2 : EU, 3: JPA

In [601]:
mpgDF['origin'].unique()

array([1, 3, 2], dtype=int64)

In [602]:
# origin 컬럼 라벨 데이터 생성
originLabel=mpgDF['origin'].replace({1:'USA',2:'EU',3:'JPA'})

# DF에 컬럼 추가       # 이름을 알고 값을 빼는 거 연구해보기 
mpgDF.insert(9, 'origin_label', originLabel)
mpgDF.columns

Index(['mpg', 'kml', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model year', 'origin', 'origin_label', 'car name',
       '제조국', 'Kml'],
      dtype='object')

In [603]:
mpgDF.dtypes

mpg             float64
kml             float64
cylinders         int64
displacement    float64
horsepower        int32
weight            int64
acceleration    float64
model year        int64
origin            int64
origin_label     object
car name         object
제조국              object
Kml             float64
dtype: object

In [1]:
# origin, origin_label int64/ object 기본자료형 => 범주형 category
mpgDF[['origin','origin_label']]=mpgDF[['origin','origin_label']].astype('category')
mpgDF.dtypes

NameError: name 'mpgDF' is not defined

In [605]:
# origin, origin_label int64/ object 기본자료형 => 범주형 category (다시 object로 바꿔줌)
mpgDF[['origin','origin_label']]=mpgDF[['origin','origin_label']].astype('str')

In [606]:
mpgDF.dtypes

mpg             float64
kml             float64
cylinders         int64
displacement    float64
horsepower        int32
weight            int64
acceleration    float64
model year        int64
origin           object
origin_label     object
car name         object
제조국              object
Kml             float64
dtype: object

In [607]:
mpgDF['origin']

0      1
1      1
2      1
3      1
4      1
      ..
393    1
394    2
395    1
396    1
397    1
Name: origin, Length: 398, dtype: object

###### (3-2-4) horsepower 컬럼에 대한

In [608]:
# horsepower 컬럼에 대한 데이터 값 확인
mpgDF['horsepower'].unique()

array([130, 165, 150, 140, 198, 220, 215, 225, 190, 170, 160,  95,  97,
        85,  88,  46,  87,  90, 113, 200, 210, 193, 100, 105, 175, 153,
       180, 110,  72,  86,  70,  76,  65,  69,  60,  80,  54, 208, 155,
       112,  92, 145, 137, 158, 167,  94, 107, 230,  49,  75,  91, 122,
        67,  83,  78,  52,  61,  93, 148, 129,  96,  71,  98, 115,  53,
        81,  79, 120, 152, 102, 108,  68,  58, 149,  89,  63,  48,  66,
       139, 103, 125, 133, 138, 135, 142,  77,  62, 132,  84,  64,  74,
       116,  82])

In [609]:
# horsepower 컬럼 타입 변경 object => int
mpgDF['horsepower'].astype('int')

mpgDF['horsepower']=pd.to_numeric(mpgDF['horsepower'],
                                  errors='coerce',             # 'coerce'인 경우 잘못된 구문 분석이 NaN으로 설정
                                  downcast='integer')          # to_numeric 으로 수치 타입으로 바꿀 수 있음
                                                                # signed,  정수 부호 있고 ???
                                                                # unsigned , 정수 부호 없다 ???

In [610]:
mpgDF.dtypes

mpg             float64
kml             float64
cylinders         int64
displacement    float64
horsepower        int16
weight            int64
acceleration    float64
model year        int64
origin           object
origin_label     object
car name         object
제조국              object
Kml             float64
dtype: object

In [611]:
mpgDF.horsepower

0      130
1      165
2      150
3      150
4      140
      ...
393     86
394     52
395     84
396     79
397     82
Name: horsepower, Length: 398, dtype: int16

In [612]:
# horsepower 컬럼 타입 변경 int 연속형 ==> 범주형 category 변환
# 구간 => 라벨 horsepower_low, horsepower_normal, horsepower_high
mpgDF['horsepower_label']=pd.cut(x=mpgDF['horsepower'],
                           bins=3,
                           labels=['horsepower_low', 'horsepower_normal', 'horsepower_high'],
                           include_lowest=True)

In [613]:
mpgDF['horsepower_label'].value_counts()

horsepower_low       263
horsepower_normal    103
horsepower_high       32
Name: horsepower_label, dtype: int64

In [614]:
mpgDF['horsepower_label']=mpgDF['horsepower_label'].astype('category')
mpgDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   mpg               398 non-null    float64
 1   kml               398 non-null    float64
 2   cylinders         398 non-null    int64
 3   displacement      398 non-null    float64
 4   horsepower        398 non-null    int16
 5   weight            398 non-null    int64
 6   acceleration      398 non-null    float64
 7   model year        398 non-null    int64
 8   origin            398 non-null    object
 9   origin_label      398 non-null    object
 10  car name          398 non-null    object
 11  제조국               398 non-null    object
 12  Kml               398 non-null    float64
 13  horsepower_label  398 non-null    category
dtypes: category(1), float64(5), int16(1), int64(3), object(4)
memory usage: 38.7+ KB

In [615]:
mpgDF['horsepower_label'].tail(3)

395    horsepower_low
396    horsepower_low
397    horsepower_low
Name: horsepower_label, dtype: category
Categories (3, object): ['horsepower_low' < 'horsepower_normal' < 'horsepower_high']

In [616]:
# mpgDF.insert(5,'horsepower_label', mpgDF['horsepower_label'])
# mpgDF['horsepower_label']

In [617]:
# horsepower 컬럼의 One-Hot-Encoding 변환 => pandas.get_dummies()
oneHot=pd.get_dummies(mpgDF['horsepower_label'])

In [618]:
pd.concat([mpgDF,oneHot], axis=1)

,mpg,kml,cylinders,displacement,horsepower,weight,acceleration,model year,origin,origin_label,car name,제조국,Kml,horsepower_label,horsepower_low,horsepower_normal,horsepower_high
0,18.0,7.650,8,307.0,130,3504,12.0,70,1,USA,chevrolet chevelle malibu,미국,7.650,horsepower_normal,0,1,0
1,15.0,6.375,8,350.0,165,3693,11.5,70,1,USA,buick skylark 320,미국,6.375,horsepower_normal,0,1,0
2,18.0,7.650,8,318.0,150,3436,11.0,70,1,USA,plymouth satellite,미국,7.650,horsepower_normal,0,1,0
3,16.0,6.800,8,304.0,150,3433,12.0,70,1,USA,amc rebel sst,미국,6.800,horsepower_normal,0,1,0
4,17.0,7.225,8,302.0,140,3449,10.5,70,1,USA,ford torino,미국,7.225,horsepower_normal,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
393,27.0,11.475,4,140.0,86,2790,15.6,82,1,USA,ford mustang gl,미국,11.475,horsepower_low,1,0,0
394,44.0,18.700,4,97.0,52,2130,24.6,82,2,EU,vw pickup,유럽,18.700,horsepower_low,1,0,0
395,32.0,13.600,4,135.0,84,2295,11.6,82,1,USA,dodge rampage,미국,13.600,horsepower_low,1,0,0
396,28.0,11.900,4,120.0,79,2625,18.6,82,1,USA,ford ranger,미국,11.900,horsepower_low,1,0,0
397,31.0,13.175,4,119.0,82,2720,19.4,82,1,USA,chevy s-10,미국,13.175,horsepower_low,1,0,0

###### (3-3) 데이터정규화

In [619]:
# mpg -> Km/L 로 단위 변환
mpg=[]
for i in mpgDF.index:
    mpg.append(mpgDF.iloc[i]['mpg'])

L=[]
for j in mpg:
    km=j*0.425
    L.append(km)
    
mpgDF['Km/L']=L

In [620]:
mpgDF

,mpg,kml,cylinders,displacement,horsepower,weight,acceleration,model year,origin,origin_label,car name,제조국,Kml,horsepower_label,Km/L
0,18.0,7.650,8,307.0,130,3504,12.0,70,1,USA,chevrolet chevelle malibu,미국,7.650,horsepower_normal,7.650
1,15.0,6.375,8,350.0,165,3693,11.5,70,1,USA,buick skylark 320,미국,6.375,horsepower_normal,6.375
2,18.0,7.650,8,318.0,150,3436,11.0,70,1,USA,plymouth satellite,미국,7.650,horsepower_normal,7.650
3,16.0,6.800,8,304.0,150,3433,12.0,70,1,USA,amc rebel sst,미국,6.800,horsepower_normal,6.800
4,17.0,7.225,8,302.0,140,3449,10.5,70,1,USA,ford torino,미국,7.225,horsepower_normal,7.225
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
393,27.0,11.475,4,140.0,86,2790,15.6,82,1,USA,ford mustang gl,미국,11.475,horsepower_low,11.475
394,44.0,18.700,4,97.0,52,2130,24.6,82,2,EU,vw pickup,유럽,18.700,horsepower_low,18.700
395,32.0,13.600,4,135.0,84,2295,11.6,82,1,USA,dodge rampage,미국,13.600,horsepower_low,13.600
396,28.0,11.900,4,120.0,79,2625,18.6,82,1,USA,ford ranger,미국,11.900,horsepower_low,11.900
397,31.0,13.175,4,119.0,82,2720,19.4,82,1,USA,chevy s-10,미국,13.175,horsepower_low,13.175

In [621]:
# mpgDF['Km/L']=mpgDF['mpg']*0.425

In [622]:
# mpgDF.drop_duplicates(subset=['mpg','cylinders,'displacement','horsepower','weight','acceleration']

#### (3-3) 데이터정규화

- 수치데이터 컬럼마다 값의 범위가 다름
- 값의 범위 0 ~ 1 / -1 ~ 1 로 값을 설정

###### (3-3-1) 방법 : 컬럼의 최대값의 절대값으로 전체 데이터를 나누기

In [623]:
mpgDF['weight'].max(), mpgDF['weight'].min(), abs( mpgDF['weight'].max() )

(5140, 1613, 5140)

In [624]:
mpgDF['weight_nor_1'] = mpgDF['weight'] / abs(mpgDF['weight'].max())
mpgDF['weight_nor_1'].min(), mpgDF['weight_nor_1'].max()

(0.31381322957198443, 1.0)

###### (3-3-2) 방법 : 컬럼의 데이터 - 최소값/ 최대값-최소값

- 컬럼의 최대값 => max(), 최소값 => min()

In [625]:
numerator = mpgDF['weight'] - mpgDF['weight'].min()
denominator = mpgDF['weight'].max() - mpgDF['weight'].min()

mpgDF['weight_nor_2'] = numerator/denominator

mpgDF['weight_nor_2'].min(), mpgDF['weight_nor_2'].max()

(0.0, 1.0)

###### (3-3-3) 방법 : 컬럼의 데이터 - 평균 / 표준편차 ==> Z-score

In [626]:
numerator=mpgDF['weight'] - mpgDF['weight'].mean()
denominator=mpgDF['weight'].std()

mpgDF['weight_nor_3']=numerator/denominator

mpgDF['weight_nor_3'].min(), mpgDF['weight_nor_3'].max()

(-1.6029259118708488, 2.561960738109357)

In [627]:
mpgDF[['weight', 'weight_nor_1', 'weight_nor_2', 'weight_nor_3']]

     weight  weight_nor_1  weight_nor_2  weight_nor_3
0      3504      0.681712      0.536150      0.630077
1      3693      0.718482      0.589736      0.853259
2      3436      0.668482      0.516870      0.549778
3      3433      0.667899      0.516019      0.546236
4      3449      0.671012      0.520556      0.565130
..      ...           ...           ...           ...
393    2790      0.542802      0.333711     -0.213056
394    2130      0.414397      0.146583     -0.992422
395    2295      0.446498      0.193365     -0.797581
396    2625      0.510700      0.286929     -0.407897
397    2720      0.529183      0.313864     -0.295716

[398 rows x 4 columns]

In [628]:
mpgDF.dtypes

mpg                  float64
kml                  float64
cylinders              int64
displacement         float64
horsepower             int16
weight                 int64
acceleration         float64
model year             int64
origin                object
origin_label          object
car name              object
제조국                   object
Kml                  float64
horsepower_label    category
Km/L                 float64
weight_nor_1         float64
weight_nor_2         float64
weight_nor_3         float64
dtype: object

In [629]:
numerator = mpgDF['weight'] - mpgDF['weight'].min()
denominator = mpgDF['weight'].max() - mpgDF['weight'].min()

mpgDF['weight_nor_2'] = numerator/denominator
mpgDF['weight_nor_2'].min(), mpgDF['weight_nor_2'].max()

(0.0, 1.0)

In [634]:
def normal(df,col):
    numerator=df[col] / abs(df[col].min())
    denominator=df[col].max() - df[col].min()
    columns = numerator/denominator
    return columns.min(), columns.max()

for i in ['mpg','kml','cylinders','displacement','horsepower','weight','acceleration','model year','','']:
    print(normal(mpgDF,i))

mpg
(0.026595744680851064, 0.13770685579196218)
horsepower
(0.005434782608695652, 0.02717391304347826)

In [651]:
def normal(df,col):
    numerator=df[col] / abs(df[col].min())
    denominator=df[col].max() - df[col].min()
    columns = numerator/denominator
    return f'{df}[{col}]={columns}'

for i in ['mpg','cylinders','horsepower','kml']:
    print(normal(mpgDF,i))
    
    
mpgDF

      mpg     kml  cylinders  displacement  horsepower  weight  acceleration  \
0    18.0   7.650          8         307.0         130    3504          12.0
1    15.0   6.375          8         350.0         165    3693          11.5
2    18.0   7.650          8         318.0         150    3436          11.0
3    16.0   6.800          8         304.0         150    3433          12.0
4    17.0   7.225          8         302.0         140    3449          10.5
..    ...     ...        ...           ...         ...     ...           ...
393  27.0  11.475          4         140.0          86    2790          15.6
394  44.0  18.700          4          97.0          52    2130          24.6
395  32.0  13.600          4         135.0          84    2295          11.6
396  28.0  11.900          4         120.0          79    2625          18.6
397  31.0  13.175          4         119.0          82    2720          19.4

     model year origin origin_label                   car name 제조국     Kml  \
0            70      1          USA  chevrolet chevelle malibu  미국   7.650
1            70      1          USA          buick skylark 320  미국   6.375
2            70      1          USA         plymouth satellite  미국   7.650
3            70      1          USA              amc rebel sst  미국   6.800
4            70      1          USA                ford torino  미국   7.225
..          ...    ...          ...                        ...  ..     ...
393          82      1          USA            ford mustang gl  미국  11.475
394          82      2           EU                  vw pickup  유럽  18.700
395          82      1          USA              dodge rampage  미국  13.600
396          82      1          USA                ford ranger  미국  11.900
397          82      1          USA                 chevy s-10  미국  13.175

      horsepower_label    Km/L  weight_nor_1  weight_nor_2  weight_nor_3
0    horsepower_normal   7.650      0.681712      0.536150      0.630077
1    horsepower_normal   6.375      0.718482      0.589736      0.853259
2    horsepower_normal   7.650      0.668482      0.516870      0.549778
3    horsepower_normal   6.800      0.667899      0.516019      0.546236
4    horsepower_normal   7.225      0.671012      0.520556      0.565130
..                 ...     ...           ...           ...           ...
393     horsepower_low  11.475      0.542802      0.333711     -0.213056
394     horsepower_low  18.700      0.414397      0.146583     -0.992422
395     horsepower_low  13.600      0.446498      0.193365     -0.797581
396     horsepower_low  11.900      0.510700      0.286929     -0.407897
397     horsepower_low  13.175      0.529183      0.313864     -0.295716

[398 rows x 18 columns][mpg]=0      0.053191
1      0.044326
2      0.053191
3      0.047281
4      0.050236
         ...
393    0.079787
394    0.130024
395    0.094563
396    0.082742
397    0.091608
Name: mpg, Length: 398, dtype: float64
      mpg     kml  cylinders  displacement  horsepower  weight  acceleration  \
0    18.0   7.650          8         307.0         130    3504          12.0
1    15.0   6.375          8         350.0         165    3693          11.5
2    18.0   7.650          8         318.0         150    3436          11.0
3    16.0   6.800          8         304.0         150    3433          12.0
4    17.0   7.225          8         302.0         140    3449          10.5
..    ...     ...        ...           ...         ...     ...           ...
393  27.0  11.475          4         140.0          86    2790          15.6
394  44.0  18.700          4          97.0          52    2130          24.6
395  32.0  13.600          4         135.0          84    2295          11.6
396  28.0  11.900          4         120.0          79    2625          18.6
397  31.0  13.175          4         119.0          82    2720          19.4

     model year origin origin_label                   car name 제조국     Kml  \
0            70      1          USA  chevrolet chevelle malibu  미국   7.650
1            70      1          USA          buick skylark 320  미국   6.375
2            70      1          USA         plymouth satellite  미국   7.650
3            70      1          USA              amc rebel sst  미국   6.800
4            70      1          USA                ford torino  미국   7.225
..          ...    ...          ...                        ...  ..     ...
393          82      1          USA            ford mustang gl  미국  11.475
394          82      2           EU                  vw pickup  유럽  18.700
395          82      1          USA              dodge rampage  미국  13.600
396          82      1          USA                ford ranger  미국  11.900
397          82      1          USA                 chevy s-10  미국  13.175

      horsepower_label    Km/L  weight_nor_1  weight_nor_2  weight_nor_3
0    horsepower_normal   7.650      0.681712      0.536150      0.630077
1    horsepower_normal   6.375      0.718482      0.589736      0.853259
2    horsepower_normal   7.650      0.668482      0.516870      0.549778
3    horsepower_normal   6.800      0.667899      0.516019      0.546236
4    horsepower_normal   7.225      0.671012      0.520556      0.565130
..                 ...     ...           ...           ...           ...
393     horsepower_low  11.475      0.542802      0.333711     -0.213056
394     horsepower_low  18.700      0.414397      0.146583     -0.992422
395     horsepower_low  13.600      0.446498      0.193365     -0.797581
396     horsepower_low  11.900      0.510700      0.286929     -0.407897
397     horsepower_low  13.175      0.529183      0.313864     -0.295716

[398 rows x 18 columns][horsepower]=0      0.015359
1      0.019494
2      0.017722
3      0.017722
4      0.016541
         ...
393    0.010161
394    0.006144
395    0.009924
396    0.009334
397    0.009688
Name: horsepower, Length: 398, dtype: float64

,mpg,kml,cylinders,displacement,horsepower,weight,acceleration,model year,origin,origin_label,car name,제조국,Kml,horsepower_label,Km/L,weight_nor_1,weight_nor_2,weight_nor_3
0,18.0,7.650,8,307.0,130,3504,12.0,70,1,USA,chevrolet chevelle malibu,미국,7.650,horsepower_normal,7.650,0.681712,0.536150,0.630077
1,15.0,6.375,8,350.0,165,3693,11.5,70,1,USA,buick skylark 320,미국,6.375,horsepower_normal,6.375,0.718482,0.589736,0.853259
2,18.0,7.650,8,318.0,150,3436,11.0,70,1,USA,plymouth satellite,미국,7.650,horsepower_normal,7.650,0.668482,0.516870,0.549778
3,16.0,6.800,8,304.0,150,3433,12.0,70,1,USA,amc rebel sst,미국,6.800,horsepower_normal,6.800,0.667899,0.516019,0.546236
4,17.0,7.225,8,302.0,140,3449,10.5,70,1,USA,ford torino,미국,7.225,horsepower_normal,7.225,0.671012,0.520556,0.565130
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
393,27.0,11.475,4,140.0,86,2790,15.6,82,1,USA,ford mustang gl,미국,11.475,horsepower_low,11.475,0.542802,0.333711,-0.213056
394,44.0,18.700,4,97.0,52,2130,24.6,82,2,EU,vw pickup,유럽,18.700,horsepower_low,18.700,0.414397,0.146583,-0.992422
395,32.0,13.600,4,135.0,84,2295,11.6,82,1,USA,dodge rampage,미국,13.600,horsepower_low,13.600,0.446498,0.193365,-0.797581
396,28.0,11.900,4,120.0,79,2625,18.6,82,1,USA,ford ranger,미국,11.900,horsepower_low,11.900,0.510700,0.286929,-0.407897
397,31.0,13.175,4,119.0,82,2720,19.4,82,1,USA,chevy s-10,미국,13.175,horsepower_low,13.175,0.529183,0.313864,-0.295716

In [659]:
nums=['a','b','c','d']
idx=0
for num in nums:
    print(num, idx)
    idx+=1
    
for idx, num in enumerate(nums):       # enumerate 나열한다? 알아서 데이터랑 인덱스 가져옴 이 경우만 ???
    print(num, idx)
print('-------------------------')
for idx, num in enumerate(nums):
    print(num, idx)

a 0
b 1
c 2
d 3
a 0
b 1
c 2
d 3
-------------------------
a 0
b 1
c 2
d 3

## (4) 데이터 추출 ------------------------------------------------------