# Datetime => Index로 설정 실습 ------------------------------------------

- set_index(컬럼) : 인덱스

In [17]:
# 모듈 로딩 ----------------------------------------------------------------
import pandas as pd

# 파일 관련 변수들 -------------------------------------------------------
DIR='../Data/'
FILE=DIR+'stock-data.csv'

FILE

'../Data/stock-data.csv'

In [18]:
# (1) CSV FILE => DataFrame 로딩
stockDF=pd.read_csv(FILE)
stockDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    20 non-null     object
 1   Close   20 non-null     int64
 2   Start   20 non-null     int64
 3   High    20 non-null     int64
 4   Low     20 non-null     int64
 5   Volume  20 non-null     int64
dtypes: int64(5), object(1)
memory usage: 1.1+ KB

In [19]:
# (2) 데이터 확인
stockDF.head(3)

         Date  Close  Start   High    Low  Volume
0  2018-07-02  10100  10850  10900  10000  137977
1  2018-06-29  10700  10550  10900   9990  170253
2  2018-06-28  10400  10900  10950  10150  155769

In [20]:
stockDF.isnull().sum()

Date      0
Close     0
Start     0
High      0
Low       0
Volume    0
dtype: int64

In [21]:
# (3) 전처리=> NaN, Duplicate, DateType
# Date 컬럼 Object => datetime64 방법(1) series.astype()
stockDF['Date']=stockDF['Date'].astype('datetime64')
stockDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    20 non-null     datetime64[ns]
 1   Close   20 non-null     int64
 2   Start   20 non-null     int64
 3   High    20 non-null     int64
 4   Low     20 non-null     int64
 5   Volume  20 non-null     int64
dtypes: datetime64[ns](1), int64(5)
memory usage: 1.1 KB

In [22]:
# Date 컬럼 Object => datetime64 방법(2) pandas.to_datetime()
stockDF['Date']=pd.to_datetime(stockDF['Date'])
stockDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    20 non-null     datetime64[ns]
 1   Close   20 non-null     int64
 2   Start   20 non-null     int64
 3   High    20 non-null     int64
 4   Low     20 non-null     int64
 5   Volume  20 non-null     int64
dtypes: datetime64[ns](1), int64(5)
memory usage: 1.1 KB

In [23]:
stockDF.head()

        Date  Close  Start   High    Low  Volume
0 2018-07-02  10100  10850  10900  10000  137977
1 2018-06-29  10700  10550  10900   9990  170253
2 2018-06-28  10400  10900  10950  10150  155769
3 2018-06-27  10900  10800  11050  10500  133548
4 2018-06-26  10800  10900  11000  10700   63039

In [24]:
# 특정 데이터 추출 ------------------------------------------------------------------
# 7월 데이터만 추출
stockDF[stockDF['Date'].dt.month==7]

        Date  Close  Start   High    Low  Volume
0 2018-07-02  10100  10850  10900  10000  137977

In [25]:
# 6월 20일부터 25일까지 데이터만 추출
stockDF[(stockDF['Date'].dt.month==6) & (stockDF['Date'].dt.day>=20) & (stockDF['Date'].dt.day<=25)]

        Date  Close  Start   High    Low  Volume
5 2018-06-25  11150  11400  11450  11000   55519
6 2018-06-22  11300  11250  11450  10750  134805
7 2018-06-21  11200  11350  11750  11200  133002
8 2018-06-20  11550  11200  11600  10900  308596

In [26]:
# 6월 20일부터 25일까지 데이터만 추출
month=stockDF['Date'].dt.month
day=stockDF['Date'].dt.day
stockDF[(month==6) & (day>=20) & (day<=25)]

        Date  Close  Start   High    Low  Volume
5 2018-06-25  11150  11400  11450  11000   55519
6 2018-06-22  11300  11250  11450  10750  134805
7 2018-06-21  11200  11350  11750  11200  133002
8 2018-06-20  11550  11200  11600  10900  308596

In [27]:
# Index 변경 => Date 컬럼을 인덱스 설정 => set_index( 컬럼명 )
stockDF.set_index('Date', inplace=True)

In [28]:
stockDF.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 20 entries, 2018-07-02 to 2022-06-01
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Close   20 non-null     int64
 1   Start   20 non-null     int64
 2   High    20 non-null     int64
 3   Low     20 non-null     int64
 4   Volume  20 non-null     int64
dtypes: int64(5)
memory usage: 960.0 bytes

In [29]:
stockDF.index

DatetimeIndex(['2018-07-02', '2018-06-29', '2018-06-28', '2018-06-27',
               '2018-06-26', '2018-06-25', '2018-06-22', '2018-06-21',
               '2018-06-20', '2018-06-19', '2018-06-18', '2018-06-15',
               '2020-06-14', '2020-06-12', '2020-06-11', '2021-06-08',
               '2020-06-07', '2022-06-05', '2022-06-04', '2022-06-01'],
              dtype='datetime64[ns]', name='Date', freq=None)

In [30]:
# 6월 20일부터 25일까지 데이터만 추출 => df.loc[], df.iloc[]
stockDF.loc['2018-06-20':'2018-06-25']

            Close  Start   High    Low  Volume
Date
2018-06-25  11150  11400  11450  11000   55519
2018-06-22  11300  11250  11450  10750  134805
2018-06-21  11200  11350  11750  11200  133002
2018-06-20  11550  11200  11600  10900  308596

In [ ]:
# 6월20일부터 25일까지 데이터만 추출
col=[]
for i in stockDF.index:
    if (i.month==6) and (i.day>=20) and (i.day<=25):
        col.append(i)
        
stockDF.loc[col]

In [31]:
# # 6월 20일부터 25일까지 데이터만 추출???

# for i in stockDF.index:
#     if (i.month==6) and (i.day>=20) and (i.day<=25):
#         print(stockDF.loc[i,:])

Close     11150
Start     11400
High      11450
Low       11000
Volume    55519
Name: 2018-06-25 00:00:00, dtype: int64
Close      11300
Start      11250
High       11450
Low        10750
Volume    134805
Name: 2018-06-22 00:00:00, dtype: int64
Close      11200
Start      11350
High       11750
Low        11200
Volume    133002
Name: 2018-06-21 00:00:00, dtype: int64
Close      11550
Start      11200
High       11600
Low        10900
Volume    308596
Name: 2018-06-20 00:00:00, dtype: int64

In [ ]:
month=stockDF.index.month
day=stockDF.index.day
stockDF[(month==6) & (day>=20) & (day<=25)]

In [32]:
stockDF[stockDF.index.year==2018]

            Close  Start   High    Low  Volume
Date
2018-07-02  10100  10850  10900  10000  137977
2018-06-29  10700  10550  10900   9990  170253
2018-06-28  10400  10900  10950  10150  155769
2018-06-27  10900  10800  11050  10500  133548
2018-06-26  10800  10900  11000  10700   63039
2018-06-25  11150  11400  11450  11000   55519
2018-06-22  11300  11250  11450  10750  134805
2018-06-21  11200  11350  11750  11200  133002
2018-06-20  11550  11200  11600  10900  308596
2018-06-19  11300  11850  11950  11300  180656
2018-06-18  12000  13400  13400  12000  309787
2018-06-15  13400  13600  13600  12900  201376