# Boolean Indexing --------------------------------------------

- Series / DataFrame 객체에서 빠르게 원하는 원소를 추출하기 위해 사용

- Series / DataFrame 객체의 원소에 연산 후 True/False인 결과

In [2]:
# 모듈 로딩 ----------------------------------------------------------
import pandas as pd

# DF 객체 생성 -------------------------------------------------------
df=pd.DataFrame({'name':['Park', 'Kim', 'Lee'],
                 'age' : [10, 21, 16],
                 'gender' : ['F', 'F', 'M']})

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    3 non-null      object
 1   age     3 non-null      int64
 2   gender  3 non-null      object
dtypes: int64(1), object(2)
memory usage: 200.0+ bytes

In [43]:
# DF 객체 데이터 확인
df

   name  age gender
0  Park   10      F
1   Kim   21      F
2   Lee   16      M

In [44]:
# age 컬럼 + 비교연산 => 15세이상
ageCol=df['age']
ageCol

0    10
1    21
2    16
Name: age, dtype: int64

In [45]:
result=ageCol>=15   # ageCol 원소마다 >= 15
result

0    False
1     True
2     True
Name: age, dtype: bool

In [46]:
# age가 15세 이상인 데이터만 추출
# df[ageCol>=15]
ageover15=df[result]         # result를 정답지라고 생각하기, 결과가 저장 된 것은 아님, 여기선 ageover15에 저장
ageover15

  name  age gender
1  Kim   21      F
2  Lee   16      M

# 과제-1 -------------------------------------- 0701

In [55]:
# 성별이 남자인 데이터만 추출하기 --------------------------------------------
genderCol=df['gender']
result1=genderCol=='M'
df[result1]

  name  age gender
2  Lee   16      M

In [56]:
# 15세이상 남자만 추출하기 ----------------------------------------------------
df[result & result1]

# df1=df[result1]        # 이때 안됨. 첫째줄에서 행이 줄어서 그런 듯? 다시 새로 result 값 만들어야 할 듯?
# df1[result]

  name  age gender
2  Lee   16      M