# [실습] --------------------------------------------------------

- CSV 파일 읽고 컬럼별 최고값과 값의 개수 출력

In [2]:
# 모듈 로딩 -----------------------------------------------------------
import pandas as pd

# 파일 관련 변수들 ---------------------------------------------------
DIR_PATH='../Data/'
FILE_NAME=DIR_PATH+'iris2.csv'

FILE_NAME

'../Data/iris2.csv'

In [3]:
# (1) CSV => DataFrame으로 가져오기
irisDF=pd.read_csv(FILE_NAME, header=None )   # 자료 구분에 따라 sep=',' 으로 적으면 됨, 열 적으면 됨 names=???

irisDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       147 non-null    float64
 1   1       150 non-null    float64
 2   2       150 non-null    float64
 3   3       150 non-null    float64
 4   4       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [4]:
irisDF.columns=['꽃받침 길이','꽃받침 폭','꽃잎 길이','꽃잎 폭','이름']
irisDF

     꽃받침 길이  꽃받침 폭  꽃잎 길이  꽃잎 폭              이름
0       5.1    3.5    1.4   0.2     Iris-setosa
1       4.9    3.0    1.4   0.2     Iris-setosa
2       4.7    3.2    1.3   0.2     Iris-setosa
3       4.6    3.1    1.5   0.2     Iris-setosa
4       5.0    3.6    1.4   0.2     Iris-setosa
..      ...    ...    ...   ...             ...
145     6.7    3.0    5.2   2.3  Iris-virginica
146     6.3    2.5    5.0   1.9  Iris-virginica
147     6.5    3.0    5.2   2.0  Iris-virginica
148     6.2    3.4    5.4   2.3  Iris-virginica
149     5.9    3.0    5.1   1.8  Iris-virginica

[150 rows x 5 columns]

## 컬럼별 최고값과 값의 개수 출력

In [5]:
# 컬럼별 최고값
iris2DF=irisDF.drop('이름',axis=1)
iris2DF.max()

꽃받침 길이    7.9
꽃받침 폭     4.4
꽃잎 길이     6.9
꽃잎 폭      2.5
dtype: float64

In [6]:
# 컬럼별 값의 개수
print(irisDF['꽃받침 길이'].value_counts(),
irisDF['꽃받침 폭'].value_counts(),
irisDF['꽃잎 길이'].value_counts(),
irisDF['꽃잎 폭'].value_counts(),
irisDF['이름'].value_counts(), sep='\n')

6.3    9
5.0    9
5.1    8
5.7    8
6.7    8
5.8    7
5.5    7
6.4    7
4.9    6
5.4    6
6.1    6
6.0    6
5.6    6
4.8    5
6.5    5
6.2    4
7.7    4
6.9    4
5.2    4
4.6    3
5.9    3
4.4    3
7.2    3
6.8    3
6.6    2
4.7    2
7.6    1
7.4    1
7.3    1
7.0    1
7.1    1
5.3    1
4.3    1
4.5    1
7.9    1
Name: 꽃받침 길이, dtype: int64
3.0    26
2.8    14
3.2    13
3.1    12
3.4    12
2.9    10
2.7     9
2.5     8
3.5     6
3.3     6
3.8     6
2.6     5
2.3     4
3.7     3
2.4     3
2.2     3
3.6     3
3.9     2
4.4     1
4.0     1
4.1     1
4.2     1
2.0     1
Name: 꽃받침 폭, dtype: int64
1.5    14
1.4    12
5.1     8
4.5     8
1.6     7
1.3     7
5.6     6
4.7     5
4.9     5
4.0     5
4.2     4
5.0     4
4.4     4
4.8     4
1.7     4
3.9     3
4.6     3
5.7     3
4.1     3
5.5     3
6.1     3
5.8     3
3.3     2
5.4     2
6.7     2
5.3     2
5.9     2
6.0     2
1.2     2
4.3     2
1.9     2
3.5     2
5.2     2
3.0     1
1.1     1
3.7     1
3.8     1
6.6     1
6.3     1
1.0     1
6.9     1
3.6     1
6.4     1
Name: 꽃잎 길이, dtype: int64
0.2    28
1.3    13
1.8    12
1.5    12
1.4     8
2.3     8
1.0     7
0.4     7
0.3     7
0.1     6
2.1     6
2.0     6
1.2     5
1.9     5
1.6     4
2.5     3
2.2     3
2.4     3
1.1     3
1.7     2
0.6     1
0.5     1
Name: 꽃잎 폭, dtype: int64
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: 이름, dtype: int64

In [7]:
print(irisDF['꽃받침 길이'].max(),
irisDF['꽃받침 폭'].max(),
irisDF['꽃잎 길이'].max(),
irisDF['꽃잎 폭'].max(), sep='\n')

7.9
4.4
6.9
2.5

In [8]:
irisDF.describe()

           꽃받침 길이       꽃받침 폭       꽃잎 길이        꽃잎 폭
count  147.000000  150.000000  150.000000  150.000000
mean     5.862585    3.054000    3.758667    1.198667
std      0.824722    0.433594    1.764420    0.763161
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.350000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

In [14]:
irisDF['꽃받침 길이'].unique()

array([5.1, 4.9, 4.7, 4.6, 5. , 5.4, 4.4, 4.8, 4.3, 5.8, 5.7, 5.2, 5.5,
       nan, 4.5, 5.3, 7. , 6.4, 6.9, 6.5, 6.3, 6.6, 5.9, 6. , 6.1, 5.6,
       6.7, 6.2, 6.8, 7.1, 7.6, 7.3, 7.2, 7.7, 7.4, 7.9])

In [15]:
irisDF['꽃받침 길이'].value_counts()

6.3    9
5.0    9
5.1    8
5.7    8
6.7    8
5.8    7
5.5    7
6.4    7
4.9    6
5.4    6
6.1    6
6.0    6
5.6    6
4.8    5
6.5    5
6.2    4
7.7    4
6.9    4
5.2    4
4.6    3
5.9    3
4.4    3
7.2    3
6.8    3
6.6    2
4.7    2
7.6    1
7.4    1
7.3    1
7.0    1
7.1    1
5.3    1
4.3    1
4.5    1
7.9    1
Name: 꽃받침 길이, dtype: int64

In [17]:
# 컬럼 값이 NaN, Na인 것도 카운팅하고 싶음 => dropna 파라미터 값 False
irisDF['꽃받침 길이'].value_counts(dropna=False)

6.3    9
5.0    9
5.1    8
5.7    8
6.7    8
5.5    7
6.4    7
5.8    7
6.0    6
6.1    6
5.6    6
5.4    6
4.9    6
4.8    5
6.5    5
6.2    4
7.7    4
6.9    4
5.2    4
4.6    3
5.9    3
NaN    3
4.4    3
7.2    3
6.8    3
6.6    2
4.7    2
7.6    1
7.4    1
7.3    1
7.0    1
7.1    1
5.3    1
4.3    1
4.5    1
7.9    1
Name: 꽃받침 길이, dtype: int64